{% load static %}

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a href="{% url 'index' %}" class="logo mr-auto"><img src="{% static 'img/admin/logo-principal.png' %}" alt="Logo SUNAE" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="drop-down"><a href="">Carreras</a>
                    <ul>
                        {% for carrera in object %}
                            <li><a href='{{ carrera.get_absolute_url }}'>{{carrera.nombre}}</a></li>
                        {% endfor %}
                        <!-- PUEDE SERVIR EN CASO DE REQUERIR UN DEEP DRROP DOWN -->
                        <!--li class="drop-down"><a href="#">Deep Drop Down</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li-->
                    </ul>
                </li>
                <li><a href="{% url 'asesorias' %}">Asesorias</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
            </ul>
        </nav>
        {% if courses|length %}
            <a href="{% url 'cursos' %}" class="get-started-btn scrollto">Cursos</a>
        {% endif %}
    </div>
</header>