{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/admin.css' %}">
    <link rel='stylesheet' href="{% static 'css/reportes.css' %}">
{% endblock %}

{% block content %}
    {% for carrera in carreras %}
        <div class="module">
            <form method="post">
                {% csrf_token %}
                <h1>  {{ carrera.name }} </h1>
                Acción: {{ carrera.form.action }} &nbsp;
                <input type="submit" value="Ejecutar">
                <br><br>
                <table style="min-width: 50vw;">
                    <caption class="section"> Asesorías pendientes </caption>
                    <tbody>
                    {% for choice in carrera.form.asesorias %}
                        <tr>
                            <td> {{ choice }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            <br><br>
        </div>
    {% endfor %}
{% endblock %}