.faq-sec{
    margin-top:0px;
    padding-top:0px;
}

.accordion{
    width: calc(100% / 3);
    padding: 3% 2%;
}

.card{
    border-radius: 0;
}

.faq-cont{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

button{
    width:100%;
    height:100%;
    display:blocK;
}

.card-header{
    padding:0;
}

@media screen and (max-width: 600px) {
    .accordion{
        width: 100%;
        padding: 2%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
    .accordion{
        width: calc(100% / 2);
        padding: 3%;
    }
}