/* Variables */
:root {
    --primary-color-orange: #FF9D37;
    --primary-color-black: #333335;
    --primary-color-blue: #3974B7;

    --secondary-color-blue: #3292F9;
    --secondary-color-orange: #FF7534;
    --secondary-color-beige: #FFC3A7;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

html, 
body {
    font-family: 'Montserrat', sans-serif;
}

/* CHANGE COLORS BOOTSTRAP */
a {
    color: var(--primary-color-blue); 
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
    color: var(--primary-color-blue); 
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
    color: var(--primary-color-blue); 
}

.back-to-top i {
    background: var(--primary-color-blue); 
}

.back-to-top i:hover {
    background: var(--secondary-color-blue); 
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
    color: var(--primary-color-blue); 
}

#hero .btn-get-started {
    background: var(--primary-color-blue); 
    box-shadow: 0 8px 28px rgba(var(--secondary-color-blue), 0.45);
}

#hero .btn-get-started:hover {
    background: var(--secondary-color-blue); 
    box-shadow: 0 8px 28px rgba(var(--primary-color-blue), 0.45);
}

#hero .btn-watch-video:hover i {
    color: var(--primary-color-blue); 
}

.featured-services .icon i {
    color: var(--primary-color-blue); 
}

.featured-services .icon-box:hover .title a {
    color: var(--primary-color-blue); 
}

.about .content ul i {
    color: var(--primary-color-blue); 
}

.counts .counters span {
    color: var(--primary-color-blue); 
}

.services .icon-box .icon i {
    color: var(--primary-color-blue); 
}

.services .icon-box:hover h4 a {
    color: var(--primary-color-blue); 
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: var(--primary-color-blue); 
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: var(--primary-color-blue); 
}

.testimonials .owl-dot.active {
    background-color: var(--primary-color-blue) !important;
}

.cta {
    background: var(--primary-color-blue);
}

.cta .cta-btn:hover {
    background: #fff;
    border: 2px solid #fff;
    color: var(--secondary-color-blue);
    box-shadow: 0 8px 28px rgba(var(--secondary-color-blue), 0.45);
}

.team .member .social a:hover {
    color: var(--primary-color-blue); 
}

.contact .info {
    border-top: 3px solid var(--primary-color-blue);
    border-bottom: 3px solid var(--primary-color-blue);
}

.contact .info i {
    color: var(--primary-color-blue); 
}

.contact .info .social-links a:hover {
    background: var(--primary-color-blue);
    color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: var(--primary-color-blue);
}

.contact .php-email-form {
    border-top: 3px solid var(--primary-color-blue);
    border-bottom: 3px solid var(--primary-color-blue);
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--primary-color-blue);
}

.contact .php-email-form button[type="submit"] {
    background: var(--primary-color-blue);
}

.contact .php-email-form button[type="submit"]:hover {
    background: var(--secondary-color-blue); 
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
    background-color: var(--primary-color-blue) !important;
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
    background: var(--primary-color-blue);
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: var(--secondary-color-blue); 
}

#footer .footer-top .social-links a:hover {
    background: var(--primary-color-blue);
}