/* Variables */
:root {
    --primary-color-orange: #FF9D37;
    --primary-color-black: #333335;
    --primary-color-blue: #3974B7;

    --secondary-color-blue: #3292F9;
    --secondary-color-orange: #FF7534;
    --secondary-color-beige: #FFC3A7;
}

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Montserrat', sans-serif;
}