{% extends './templates/index.html' %}

{% load static %}

{% block title %}
    <title>ASESORIAS</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/asesorias.css' %}">
{% endblock %}

{% block body %}
    <section class="main-block">
        <div class="left-part">
            <i class="fas fa-graduation-cap"></i>
            <h1>Regístrate a nuestras asesorías</h1>
            <p>Sitio para asesorías</p>
            <div class="btn-group"></div>
        </div>

        <form method="post">
            <div class="title">
                <i class="fas fa-pencil-alt"></i>
                <h2>Regístrate aquí</h2>
            </div>

            <div class="info">
                {% csrf_token %}
                {{ form }}
            </div>

            <button type="submit">Registrarme</button>
        </form>
    </section>
{% endblock %}