{% extends './templates/index.html' %}

{% load static %}

{% block title %}
    <title>{{object.nombre.capitalize}}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/carrera.css' %}">
{% endblock %}

{% block body %}
    <section>
        <h1 class="title">{{carrera.nombre}}</h1>
        <img src="{{ carrera.imagen.url }}" />
        <p>{{carrera.descripcion}}</p>
        
        <div class="">
            {% for i in instructor %}
            <div class="instructor">
                <div>    
                    <img src="{{BASIC_DIR}}/{{i.imagen.url}}" width="120" />
                    <p>{{i.nombre}}</p>
                    <p>Imparte</p>
                    <p>{{i.materia}}</p>
                    <p>{{i.descripcion}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/getColor.js' %}" defer></script>
{% endblock %}