{% extends './templates/index.html' %}

{% load static %}

{% block title %}
    <title>{{object.nombre}}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block body %}

    <section>
        <br><br><br><br><br><br><br><br>
        <p>{{object.nombre}}</p>
        <p>{{object.descripcion}}</p>
        
        {% for i in instructor %}
            <img src="{{BASIC_DIR}}/{{i.imagen.url}}" width="120" />
            <p>{{i.nombre}}</p>
            <p>{{i.descripcion}}</p>
        {% endfor %}

    </section>

{% endblock %}