{% extends './templates/index.html' %}

{% load static %}

{% block title %}
    <title>{{object.nombre.capitalize}}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/carrera.css' %}">
{% endblock %}

{% block body %}
    <section>
        <h1 class="title">{{carrera.nombre}}</h1>
        <img src="{{ carrera.imagen.url }}" />
        <p>{{carrera.descripcion}}</p>
    </section>

    <section id="testimonials" class="testimonials section-bg">
        <div class="container">
            <div class="owl-carousel testimonials-carousel">
                {% for i in instructor %}
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            {{i.descripcion}}
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{{i.imagen.url}}" class="testimonial-img" alt="">
                        <h3 class="title">{{i.nombre}}</h3>
                        <h4>{{i.materia}}</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/getColor.js' %}" defer></script>
{% endblock %}