{% extends './templates/index.html' %}

{% load static %}

{% block title %}
    <title>CURSOS</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock %}

{% block body %}
    <section class="courses">
        {% if courses|length %}
            {% for course in courses %}
                <div class="course">
                    <div id="course-{{course.id}}">
                        <h2 class="title">{{course.nombre}}</h2>
                        <img src="{{ course.carrera.imagen.url }}" />
                        <p>{{course.descripcion}}</p>
                        <h4><span>Fecha de inicio</span>: {{course.fechaInicio}}</h4>
                        <h4><span>Fecha de cierre</span>: {{course.fechaFinal}}</h4>
                        <h4><span>Precio</span>: ${{course.precio|floatformat:"0"}}</h4>
                        <a class="cta-btn" onclick="enroll('{{course.nombre}}',{{course.precio}})">Inscribirme</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>NO HAY CURSOS DISPONIBLES POR EL MOMENTO</h2>
        {% endif %}
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/getColor.js' %}" defer></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/courses.js' %}"></script>
{% endblock %}