{% extends './templates/index.html' %}

{% load static %}

{% block title %}
    <title>Error 500</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/error404.css' %}">
{% endblock %}

{% block body %}
    <section class="error404">
        <div>
            <h1>A la página le dio amsiedad</h1>
            <img src="{% static 'img/cheems.jpg' %}" class="">
            <h2>Hay un problema en el servidor</h2>
            <h3>Por favor, intente recargando la página</h3>
        </div>
    </section>
{% endblock %}