{% extends './templates/index.html' %}

{% load static %}

{% block title %}
    <title>No se pudo encontrar la página</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/error404.css' %}">
{% endblock %}

{% block body %}
    <section class="error404">
        <div>
            <h1>A la página le dio amsiedad</h1>
            <img src="{% static 'img/cheems.jpg' %}" class="">
            <h2>No se pudo encontrar la página</h2>
            <h3>Intente con una URL correcta</h3>
        </div>
    </section>
{% endblock %}