{% extends './templates/index.html' %}

{% load static %}

{% block title %}
    <title>SUNAE</title>
{% endblock %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="estudiantes" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Ilumina tu futuro</h1>
                    <h2>Sociedad Universitaria de Apoyo Entre Estudiantes</h2>
                    <div class="d-flex">
                        <a href="#about" class="btn-get-started scrollto"></a>
                        <a href="https://www.facebook.com/SUNAEE.2/videos/268289221555603/" class="venobox btn-watch-video"
                            data-vbtype="video" data-autoplay="true"> Ver Video <i class="icofont-play-alt-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="{% static 'img/estudiantes.png' %}" class="img-fluid animated" width="250" height="250">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon"><i class="icofont-ui-brightness"></i></div>
                        <h4 class="title"><a href="">¿Qué Somos?</a></h4>
                        <p class="description">SUNAE es la suma de los esfuerzos de distintas carreras que se ponen al
                            servicio de los recién egresados de bachillerato para ayudarles a solventar las deficiencias
                            académicas y actitudinales que estos acarrean al entrar a la universidad. Además, somos una
                            organización estudiantil que nace de una problemática constante en las instituciones educativas 
                            de nivel superior: el alto índice de reprobación y deserción
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="icofont-rocket"></i></div>
                        <h4 class="title"><a href="">¿Qué nos impulsa?</a></h4>
                        <p class="description">
                            Nos impulsa los objetivos de desarrollo sostenible, tales como: el #4 Educación de calidad y 
                            el #17 Alianzas para lograr los objetivos
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="icofont-hand-up"></i></div>
                        <h4 class="title"><a href="">¿Por qué con nosotros?</a></h4>
                        <p class="description">Además de compartir la experiencia que tenemos de nuestras respectivas
                            carreras e instituciones, tenemos la posibilidad de acercarnos a los alumnos de una forma
                            amigable que permita una comunicación más fluida y sincera</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="{% static 'img/about.png' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Sociedad conformada por estudiantes de las licenciaturas que presentan mayor porcentaje de deserción
                        y reprobación</h3>
                    <p class="font-italic">
                        Buscamos:
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Apoyar a los alumnos para que sean capaces de resolver los
                            problemas a los que se enfrentan en el ingreso al nivel de licenciatura</li>
                        <li><i class="icofont-check-circled"></i> Brindar a los estudiantes profesores, mentores y amigos
                            que les ayuden a continuar con sus estudios de la mejor manera</li>
                        <li><i class="icofont-check-circled"></i> Brindar orientación vocacional a los alumnos que aún están
                            indecisos sobre qué rumbo tomar con su trayectoria académica</li>
                    </ul>
                    <p>
                        Este es el paso inicial que necesitas en tu camino como universitario.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <div class="flex-container">
                        <span>+</span>
                        <span data-toggle="counter-up">500</span>
                    </div>
                    <p>Alumnos</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">7</span>
                    <p>Áreas</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">40</span>
                    <p>Instructores</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1</span>
                    <p>Estados</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <span>¿Qué Carreras Ofrecemos?</span>
                <h2>¿Qué Carreras Ofrecemos?</h2>
                <p>¡Prepárate para iluminar tu futuro!</p>
            </div>
    
            {% for carrera in carre %}
                <p>xd</p>

            {% endfor %}

<!--    
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Ingeniería</a></h4>
                        <p>alguna descripción que quieran agregar</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Medicina</a></h4>
                        <p>alguna descripción que quieran agregar</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Física</a></h4>
                        <p>alguna descripción que quieran agregar</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4><a href="">Química</a></h4>
                        <p>alguna descripción que quieran agregar</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-slideshow"></i></div>
                        <h4><a href="">Biología</a></h4>
                        <p>alguna descripción que quieran agregar</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-arch"></i></div>
                        <h4><a href="">Enfermería</a></h4>
                        <p>alguna descripción que quieran agregar</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-slideshow"></i></div>
                        <h4><a href="">Odontología</a></h4>
                        <p>alguna descripción que quieran agregar</p>
                    </div>
                </div>

            </div>
            -->
        </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <span>Portafolio</span>
                <h2>Portafolio</h2>
                <p></p>
            </div>
             <!--
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Asesorías</li>
                        <li data-filter=".filter-app">Cursos</li>
                        <li data-filter=".filter-card">Tips</li>
                        <li data-filter=".filter-web">Muestras</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{% static 'img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                        <a href="{% static 'img/portfolio/portfolio-1.jpg' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="{% static 'img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="{% static 'img/portfolio/portfolio-2.jpg' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{% static 'img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                        <a href="{% static 'img/portfolio/portfolio-3.jpg' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="{% static 'img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                        <a href="{% static 'img/portfolio/portfolio-4.jpg' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="{% static 'img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <a href="{% static 'img/portfolio/portfolio-5.jpg' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{% static 'img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                        <a href="{% static 'img/portfolio/portfolio-6.jpg' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="{% static 'img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                        <a href="{% static 'img/portfolio/portfolio-7.jpg' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="{% static 'img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                        <a href="{% static 'img/portfolio/portfolio-8.jpg' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="{% static 'img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="{% static 'img/portfolio/portfolio-9.jpg' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

            </div>
 -->
        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
                <span>Testimonios</span>
                <h2>Testimonios</h2>
                <p>Experiencias de nuestros alumnos con nuestros servicios</p>
            </div>

            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item">
                    <p>
                    <!--
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Soy el hijo de izzo en el fortnite
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                    <h3>Carlos Morales</h3>
                    <h4>Ceo del SIMP</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Con eso te armabas una linux bro
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'img/testimonials/testimonials-2.jpeg' %}" class="testimonial-img" alt="">
                    <h3>Daniel Yamamoto</h3>
                    <h4>Programador de videojuegos</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Revisar en junta
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Revisar en junta
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Revisar en junta
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'img/testimonials/testimonials-5.jpeg' %}" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                </div>

            </div>

        </div>
    </section><!-- End Testimonials Section -->
-->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center">
                <h3>Optimiza tus objetivos y nunca te conformes con menos</h3>
                <p> En el camino hacia el éxito, la variable no son las misiones que establecemos, sino nuestra capacidad y
                    disposición para alcanzarlas. Cuando tienes grandes metas en la vida, ¡te empujarán a alcanzar más!
                    Entonces atrévete a soñar en grande.</p>
                <a class="cta-btn" href="#">Iniciar mi camino</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">
        <!--
            <div class="section-title">
                <span>Nuestro equipo</span>
                <h2>Nuestro equipo</h2>
                <p>Integrado por instructores y administrativos</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="{% static 'img/team/team-1.jpg' %}" alt="">
                        <h4>Walter White</h4>
                        <span>Chief Executive Officer</span>
                        <p>
                            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui
                            aut aut aut
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="{% static 'img/team/team-2.jpeg' %}" alt="">
                        <h4>Sarah Jhinson</h4>
                        <span>Product Manager</span>
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                            temporibus
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="{% static 'img/team/team-3.jpg' %}" alt="">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                        <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des
                            clara
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Team Section -->
 -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <span>Contacto</span>
                <h2>Contacto</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                    <!--
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Localización:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>
-->
                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>contacto@sunae.org</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Número:</h4>
                            <p>+52 55 6219 7783</p>
                        </div>
                        <!--
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>-->
                    </div>
 
                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Tu nombre</label>
                                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                                    data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Tu email</label>
                                <input type="email" class="form-control" name="email" id="email" data-rule="email"
                                    data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Asunto</label>
                            <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                                data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="name">Mensaje</label>
                            <textarea class="form-control" name="message" rows="10" data-rule="required"
                                data-msg="Please write something for us"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Cargando</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias!</div>
                        </div>
                        <div class="text-center"><button type="submit">Enviar mensaje</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
{% endblock %} 